@import "tailwindcss";
@import "daisyui/daisyui.css";

* {
  font-family: "Poppins", sans-serif;
}

.cp {
  color: #2ed573;
}
.bcp {
  background-color: #2ed573;
}

.ts {
  color: #4b5966;
  font-size: 14px;
}
